body {
    background-color: antiquewhite;
}

.main {
    margin: auto;
    width: 500px;
    margin-top: 50px;
}

.book {
    border-bottom: solid #428bca 1px;
}

.click-book-detail, .click-book-read {
    cursor: pointer;
    color: #428bca;
}

.click-book-detail:hover {
    color: rgba(150, 149, 162, 0.47);
}

.click-book-read:hover {
    color: rgba(150, 149, 162, 0.47);
}